* {
    border: 0px solid red;
    box-sizing: border-box;
}


.selector-for-some-widget {
    box-sizing: border-box;
  }

  .menu-item {
    background-color: lightgrey; 
  }

canvas {
    background-color: lightgrey; 
    width: 100%;
    height: 90vh;
  }

  #ceb {
      display: none;
  }

  .panel {
    border-radius: 0.3rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .panel-purple {
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
    color: black;
  }

  .panel-blue {
    background-color: lightgrey;
    height: 90vh;
    color: grey;
  }

  .panel-right {
      margin-left: -0.5rem;
  }

  .panel-left {
    margin-right: -0.5rem;
}

  .panel-button {
    display: flex; 
    justify-content: center;
    margin: 1rem;
    width: 100%;      
  }

  .padding {
    padding: 1rem 0 0 0;
    text-align: center;
  }

  .data {
    height: 90vh;
    background-color: lightgrey;
  }



